{% extends 'base.html' %}

{% block content %}
    <h1>Chatico</h1>

    {% if session.get('user_id') %}
        <h3 class="section-title">Your Chats</h3>

        <!-- Кнопка 'ChatGPT' -->
        <div class="chat-list">
            <a href="{{ url_for('main.chatgpt') }}" class="chat-item">ChatGPT</a>
        </div>

        <!-- Список чатов -->
        <div class="chat-list">
            {% for chat in chats %}
                    <a href="{{ url_for('main.chat', chat_id=chat.id) }}" class="chat-item">
                        {% for participant in chat.participants %}
                            {% if participant.id != session.get('user_id') %}
                                {{ participant.username }}{% if not loop.last %} {% endif %}
                            {% endif %}
                        {% endfor %}
                    </a>
            {% endfor %}
        </div>
    {% else %}
        <p>You are not logged in. Please <a href="{{ url_for('main.login') }}">login</a> or <a href="{{ url_for('main.register') }}">register</a>.</p>
    {% endif %}
{% endblock %}
